<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Sugbo Eats"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme"
        tools:targetApi="31">
        <activity android:name=".mainscreen">
        <activity
            android:name=".onboardinglast"
            android:exported="false"> </activity>

        <activity android:name=".mainscreen">
        tools:targetApi="31" >
        <activity
            android:name=".Confirmation_Page"
            android:exported="false" />
        <activity
            android:name=".onboardinglast"
            android:exported="false" >
        </activity>
        <activity android:name=".mainscreen" >
        </activity>
        <activity
            android:name=".favorites"
            android:exported="true" />
        <activity
            android:name=".booking_screen"
            android:exported="true" />
        <activity
            android:name=".homescreen"
            android:exported="true">
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Resto1Activity" />
        <activity android:name=".Resto2Activity" />
        <activity android:name=".Resto3Activity" />
        <activity android:name=".Resto4Activity" />
        <activity android:name=".Resto5Activity" />
        <activity android:name=".ReservationFormActivity" />
        <activity android:name=".ContactInformationActivity" />
        <activity android:name=".ConfirmationActivity" />
        <activity android:name=".SplashActivity"  />
    </application>

</manifest>